<!-- MAGNET EDITOR -->
<div class="ui segment" ng-show="edit">
  <form class="ui edit form">
    <h4 class="ui dividing header">Magnet地址编辑</h4>
    <div class="field">
      <label>名称</label>
      <div class="field">
        <input type="text" ng-model="magnet.name" ng-change="parseMagnetString()" placeholder="Name">
      </div>
    </div>
    <div class="field">
      <label>Hash信息</label>
      <div class="field">
        <input type="text" ng-model="magnet.infohash" ng-change="parseMagnetString()" placeholder="Info Hash">
      </div>
    </div>
    <div class="field">
      <label>Trackers</label>
    </div>
    <div>
      <div class="field" ng-repeat="t in magnet.trackers">
        <input type="text" ng-model="t.v" ng-change="parseMagnetString()" placeholder="Tracker">
      </div>
    </div>
  </form>
</div>

<!-- OMNI BAR -->
<div class="omni ui fluid icon input">
  <input placeholder="输入搜索查询, magnet链接, torrent链接 或上传 torrent文件"
    ng-model="inputs.omni" ng-change="parse()" ng-enter="submitOmni()" />
  <div class="icon-wrapper" onfileclick="uploadTorrent($event)" multiple="multiple" accept=".torrent">
    <i class="icon" ng-class="{search: mode.search, magnet: mode.magnet || mode.torrent, upload: !mode.search && !mode.magnet && !mode.torrent}"></i>
  </div>
</div>

<!-- MAGNET FIELD ERROR -->
<div ng-show="omnierr" class="ui error message">
  <p>{{omnierr}}</p>
</div>

<!-- START TORRENT BUTTONS -->
<div class="search buttons" ng-show="mode.torrent">
  <div ng-click="submitTorrent()" class="ui tiny blue button" ng-class="{loading: apiing, disabled: apiing }">
    <span ng-show="mode.torrent">开始Torrent</span>
  </div>
</div>

<!-- SEARCH BUTTONS -->
<div class="search buttons" ng-show="mode.search && inputs.provider">
  <select class="ui green button" ng-model="inputs.provider" ng-options="id as s.name for (id, s) in providers">
  </select>
  <div ng-click="submitSearch()" class="ui tiny blue button" ng-class="{loading: searching,
      disabled: noResults || hasMore && results && results.length > 0
    }">
    <span ng-show="noResults">无结果!</span>
    <span ng-show="!noResults">搜索</span>
  </div>
</div>

<div class="ui error message" ng-show="mode.search && !inputs.provider">
  <p>您没有搜索提供程序</p>
</div>

<!-- SEARCH RESULTS -->
<div class="results" ng-show="mode.search && results && results.length > 0">
  <table class="ui unstackable compact striped tcld table">
    <tr ng-repeat="r in results">
      <td class="name">
        <a ng-href="{{ r.url }}" target="_blank">{{ r.name }}</a>
      </td>
      <td class="size" ng-if="r.size">{{ r.size }}</td>
      <td class="users">
        <span class="seeds">{{ r.seeds }}</span>
        <br/>
        <span class="peers"> {{ r.peers }}</span>
      </td>
      <td class="controls">
        <i ng-click="submitSearchItem(r)" class="ui green download icon"></i>
      </td>
    </tr>
    <tr ng-if="hasMore">
      <td class="loadmore" colspan="10">
        <div ng-click="submitSearch()" class="ui tiny blue button" ng-class="{loading: searching}">
          加载更多
        </div>
      </td>
    </tr>
  </table>
</div>

<!-- MAGNET BUTTONS -->
<div class="magnet buttons" ng-show="mode.magnet">
  <div ng-click="submitTorrent()" class="ui tiny blue button" ng-class="{loading: apiing}">
    加载Magnet
  </div>
  <div ng-show="mode.magnet" ng-click="edit = !edit" ng-class="{green: edit}" class="ui tiny button">编辑</div>
</div>

<!-- TORRENT BUTTON -->
<div class="buttons" ng-show="torrent">
  <div ng-click="submitTorrent()" class="ui tiny blue button" ng-class="{loading: apiing}">
    加载Torrent
  </div>
</div>
